<ul>
  <% @restaurante.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
</ul>

<%= form_for @restaurante, html: {multipart: true} do |f|%>
    Nome: <%= f.text_field :nome %>
    Endereço <%= f.text_field :endereco%>
    Especialidade: <%= f.text_field :especialidade%>
    <%= f.file_field :foto %>
    <%= f.submit %>

<% end %>